.sidebar {
    flex: 4;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.sidebarItem:hover {
    transform: translateY(-5px);
}

.sidebarTitle {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.sidebarItem>img {
    margin-top: 15px;
    height: 200px;
    width: auto;
    border-radius: 10px;
}

.sidebarItem>p {
    padding: 0 20px;
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #222;
    line-height: 20px;
}

.sidebarList {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sidebarListItem {
    width: calc(33.33% - 10px);
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.sidebarListItem:hover {
    transform: translateY(-5px);
}

.sidebarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarIcon {
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.sidebarIcon:hover {
    color: #3f51b5;
}